<tr class="delivery-split-row" id="delivery-code-{{file_name}}-row">
    <td>{{file_name}}</td> <!-- 파일 이름 -->
    <td class="short-column">{{platform_name}}</td> <!-- 플랫폼 -->
    <td class="short-column">{{download_button}}</td> <!-- 내려받기 -->
</tr>
