<tr class="order-file-row {{validity_class}}" id="order-{{file_name}}-row">
    <td class="order-file-validity"></td> <!-- 병합 가능 -->
    <td>{{file_name}}</td> <!-- 파일 이름 -->
    <td class="short-column">{{platform_name}}</td> <!-- 플랫폼 -->
    <td class="short-column">{{num_orders}}</td> <!-- 주문 수 -->
    <td class="short-column">{{encrypted}}</td> <!-- 암호화 -->
    <td>{{password_input}}</td> <!-- 비밀번호 -->
    <td>{{delete_button}}</td> <!-- 삭제 -->
</tr>
