<tr class="table-header" id="order-{{file_name}}-row">
    <td>{{valid}}</td> <!-- 병합 가능 -->
    <td>{{file_name}}</td> <!-- 파일 이름 -->
    <td>{{platform_name}}</td> <!-- 플랫폼 -->
    <td>{{num_orders}}</td> <!-- 주문 수 -->
    <td>{{encrypted}}</td> <!-- 암호화 -->
    <td>{{password_input}}</td> <!-- 비밀번호 -->
    <td>{{delete_button}}</td> <!-- 삭제 -->
</tr>
