@font-face {
    font-family: "DungGeunMo";
    src: url("DungGeunMo.ttf");
}
body {
    font-family: "DungGeunMo";
}
.page {
    display: grid;
    background-color: lightgray;
    grid-template-areas:
        'main right';
    gap: 4em;
    overflow-x: scroll;
    padding: 1em;
}
.clinging-bar {
    align-self: middle;
    width: fit-content;
    min-width: fit-content;
    height: fit-content;
}
.clinging-bar p {
    text-align: center;
}
.clinging-bar a {
    text-decoration: none;
    color: black;
    align-self: center;
}
.clinging-bar button{
    border-style: thick solid outset;
    border-color: grey;
    font-size: 1.1em;
    width: fit-content;
    font-family: "DungGeunMo";
    padding: 1em;
    border-width: 5px;
}
.clinging-bar button:hover {
    border-style: inset;
    background-color: grey;
    border-color: black;
}

table {
    width:100%;
    margin-top: 5px;
}
table, td {
    border: solid;
    border-collapse: collapse;
}
tr.header-row {
    text-align: center;
    background-color: beige;
}
.menu-box {
    display: grid;
    align-items: center;
}
.menu {
    border: solid;
    border-width: 10px;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "DungGeunMo";
    font-size: 64px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    align-self: center;   
}
.menu:hover {
    background-color: grey;
}
.menu:hover::before {
    content: ">";
    font-size: smaller;
}
.menu:hover::after {
    content: "<";
    font-size: smaller;
}
.menu:visited {
    color: black;
}

.app-container {
    padding: 1em;
    width: fit-content;
    background-color: white;
}

.section-container {
    display: grid;
    align-items: center;
    overflow-x: scroll;
}

.section-container h1 {
    text-align: center;
    text-decoration: underline;
}
.section-container h2 {
    margin: 10px;
}
.module-container {
    border: solid thick;
    border-style: double;
    display: grid;
    padding: 10px;
}

.file-upload-module-text::after {
    content: " *여기에 올리시는 파일은 브라우저 내에만 저장되고 서버로는 전송되지 않습니다.";
    font-size: small;
}

.big-button-box, .little-button-box {
    padding: 1em;
    display: flex;
    justify-content: center;
}
.big-button {
    text-align: center;
    font-size: 32px;
    font-family: "DungGeunMo";
    padding: 20px;
    border: thick solid lightgrey;
    border-style: outset;
    border-radius: 3px;
    width: fit-content;
    white-space: nowrap;
}
.big-button:hover {
    background-color: grey;
    border-color: grey;
    border-style: inset;
}
.big-button:hover::before {
    content: ">";
    font-size: smaller;
}

.big-button:hover::after {
    content: "<";
    font-size: smaller;
}

button > img {
    height: 1.5em;
    padding: 0;
    margin: 0;
}

.delete-button {
    border-style: outset;
    background-color: white;
    border-color: grey;
}
.delete-button:hover {
    border-style: inset;
    background-color: grey;
    border-color: black;
}

.order-file-row > .order-file-validity {
    text-align: center;
}

.uncertain-order-file > .order-file-validity::before {
    content: '?';
}
.valid-order-file > .order-file-validity::before {
    content: 'O';
}
.invalid-order-file > .order-file-validity::before {
    content: 'X';
    
}
.invalid-order-file {
    background-color: lightpink;
}

.setting-button {
    font-family: "DungGeunMo";
    font-size: 25px;
    margin: 10px;
    border: solid;
    border-width: 4px;
    border-style: outset;
    border-color: lightgrey;
}

.setting-button:hover {
    background-color: grey;
    border-color: black;
    border-style: inset;
}

.explaining-text {
    font-size: 0.8em;
}
.explaining-text::before {
    content: "*";
}

td.index-column {
    text-align: center;
    background-color: lightgrey;
    min-width: 4em;
    width: auto;
    white-space: nowrap;
}

.small-button {
    font-family: "DungGeunMo";
    border-style: outset;
    background-color: white;
    border-color: grey;
}
.small-button:hover {
    border-style: inset;
    background-color: grey;
    border-color: black;
}
